* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #ff5a5f;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: min(85vw, 300px);
    transition: all 0.2s ease;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 3vh;
    transform: translateY(5%);
}

.logo {
    position: relative;
    width: clamp(60px, 25vw, 90px);
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    overflow: hidden;
}

.logo svg {
    width: 60%;
    height: 60%;
    fill: #ff5a5f;
    transform: rotate(20deg);
    transition: inherit;
}

h1 {
    font-family: "Chewy", system-ui;
    font-weight: 400;
    font-style: normal;
    margin-top: 10px;
    transition: all 0.3s ease;
    font-size: clamp(28px, 8vw, 46px);
}

.tabs {
    display: flex;
    justify-content: center;
    width: 80%;
    margin-bottom: 15px;
    margin-top: 45px;
    gap: 15px;
}

.tab {
    flex: 1;
    background-color: rgba(255,255,255,0.3);
    border: none;
    padding: 4px 0;
    border-radius: 3px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
    font-size: clamp(8px, 3vw, 12px);
}

.tab.active {
    background-color: white;
    color: #ff5a5f;
}

.tab:active,
.register-btn:active {
    transform: scale(0.96);
    transition: transform 0.1s ease;
}

input {
    width: 80%;
    padding: clamp(8px, 2.5vw, 12px);
    margin: 4px 0;
    border: none;
    border-radius: 4px;
    font-size: clamp(8px, 3vw, 12px);
    text-align: center;
    transition: all 0.2s ease;
}

input::placeholder {
    color: #555;
    text-transform: lowercase;
}

.forgot {
    width: 80%;
    text-align: right;
    display: block;
    font-size: clamp(6px, 2vw, 8px);
    color: white;
    opacity: 0.9;
    text-decoration: none;
    margin-top: 12px;
}

.register-btn {
    width: 80%;
    margin-top: 18px;
    background-color: white;
    color: #ff5a5f;
    border: none;
    padding: clamp(8px, 2.5vw, 12px);
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    font-size: clamp(8px, 3vw, 12px);
    transition: all 0.2s ease;
}

.register-btn:hover {
    background-color: #ffeaea;
}

.bottom-text {
    margin-top: 25px;
    font-size: clamp(6px, 2vw, 8px);
    opacity: 0.9;
    text-align: center;
    transition: all 0.2s ease;
}

.bottom-text a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    margin-left: 4px;
    transition: 0.2s;
}
